body{margin: 0px;}
*{box-sizing: border-box;}
ul.horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
ul.horizontal li {
    float: left;
}
ul.horizontal li a.active {
    background-color: #4CAF50;
}
ul.horizontal li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.hero-image {
  background-image: url("../images/auroa.jpg");
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-color{
  background-image: url("../images/hero-image.jpg");
  background-color: #cccccc;
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text, .title-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.hero-text h1, h1.title-text{
  font-size:3em;
}
.hero-text h2{
  font-size:28px;
}

.column-half, .column-two-thirds, .column-quarter{
  padding:32px;
}

@media only screen and (min-width: 899px){
.column-half{
  float:left;
  width: 50%;
  padding:32px;
}
section.column-half article {
    padding-right: 32px;
}
.column-two-thirds{
  float:left;
  width: 75%;
  padding:32px;
}
.column-quarter{
  float:left;
  width: 25%;
  padding:32px;
}
}
.row{
  padding-top:64px;
  padding-top:64px;
}
.row:after{
  content: "";
  display:table;
  clear:both;
}
img.portfolio-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

footer{
  background-color: #333;
  color: white;
  text-align: center;
  padding-top:16px;
  padding-bottom:16px;
  margin-top:64px;
}
div .intro{
  text-align:center;
  width:75%;
  margin-left:auto;
  margin-right:auto;
}
.portfolio-button a{
  padding: 8px;
  text-decoration: none;
  border: 1px solid;
  color: #4CAF50;
}
p.portfolio-button{
  text-align: center;
}
h1, h2, h3, h4, nav {
  font-family: 'Fjalla One', sans-serif;
}
main h2, main h3{
  font-size:2em;
}
